@media (min-width: 360px) {
    .mainCol {
        width: 80%;
    }
}

@media (min-width: 480px) {
    .mainCol {
        width: 400px;
    }
}

@media (min-width: 560px) {
    .mainCol {
        width: 500px;
    }
}