<!DOCTYPE html>
<html>
<head>
    <title>SIT120: Week 5</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <script src="https://unpkg.com/vue@2"></script>
</head>
<body>
    <div id="app">

        <!-- from Vue example code -->
        <input type="checkbox" id="jack" value="Jack" v-model="checkedNames">
        <label for="jack">Jack</label>
        <input type="checkbox" id="john" value="John" v-model="checkedNames">
        <label for="john">John</label>
        <input type="checkbox" id="mike" value="Mike" v-model="checkedNames">
        <label for="mike">Mike</label>
        <br>
        <span>Checked names: {{ checkedNames }}</span>

        <!-- how does the above span usage actually differ from non-span usage here though? -->
        <div>
            Checked names: {{ checkedNames}}
        </div>

        <div>
            <button-counter testprop="this is a test"></button-counter>
            <local-component testprop="this is a test"></local-component>
        </div>

    </div>

    <script>
        // Define a new component called button-counter
        Vue.component('button-counter', {
            props: ['testprop'],
            data: function () {
                return {
                    count: 0
                }
            },
            template: '<button v-on:click="count++">You clicked me {{ count }} times {{ testprop }}.</button>'
        })

        var localComponent = {
            props: ['testprop'],
            data: function () {
                return {
                    count: 0
                }
            },
            template: '<button v-on:click="count++">You clicked me {{ count }} times {{ testprop }}.</button>'
        }

        const app = new Vue({
            el: "#app",
            components: {
                'local-component': localComponent
            },
            data: {
                checkedNames: []
            }
        });
    </script>
</body>
</html>
