@media (hover: hover) {
    .hover_test::before {
        content: "This device supports hover on its primary input mechanism (tested for hover, not any-hover)."
    }
}

@media (hover: none) {
    .hover_test::before {
        content: "This device does not support hover on its primary input mechanism (tested for hover, not any-hover)."
    }
}

@media (pointer: none) {
    .pointer_test::after {
        content: "This device reports no primary pointing device (tested for pointer, not any-pointer)."
    }
}

/* Note how it would be possible for e.g. a touchscreen laptop to support both a coarse (limited accuracy) and high accuracy pointing device */
/* See also: before/after https://www.w3schools.com/cssref/sel_before.asp */
@media (pointer: fine) {
    .pointer_test::after {
        content: "This device reports a high accuracy primary pointing device, such as a mouse (tested for pointer, not any-pointer)."
    }
}

@media (pointer: coarse) {
    .pointer_test::before {
        content: "This device reports a limited accuracy primary pointing device, such as a touchscreen (tested for pointer, not any-pointer)."
    }
}